[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "eventreport"]
	path = eventreport
	url = https://github.com/sebastianvanbaalen/eventreport
